<nav class="navbar">
    <div class="navLinks">
        <a href='/'>Sign in</a>
        <a href="/sign-up">Create account</a>
        <a href="/member">Become a member</a>
        <a href="/admin">Become an admin</a>
    </div>
</nav>